<div class="container">
    <section style="height: 60%;padding-top: 74px;">
        <div class="hero-box" style="min-height: 300px;max-height: 400px;height: 400px;margin-bottom: 3rem;"><img
                style="width: 100%;height: 100%;" src="assets/img/profile-2.png"></div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
                <div class=".post-content">
                    <h1>About me</h1><!-- Start: post-content -->
                    <div class="post-content">
                        <p>
                            The name’s HOLLYN DERISSE. I am a tireless seeker of knowledge, occassional purveyor of
                            wisdom and also, coincidentally, a master graduate in intelligent system and multimedia.

                        <h3>PHILOSOPHY</h3>
                        <p>
                            In as circuitous a reason as a philosopher is wont to offer, my school of thought is reliant
                            on schooling my thought – thoroughly, regularly; keeping abreast of design, branding,
                            advertising trends and solutions.
                            THE CREDS
                        </p>

                        <h3>Master – intelligent system and multimedia – 2022</h3>
                        <p>
                            Master – intelligent system and multimedia – 2022
                            I am a graduate of the intelligent System and multimedia at the prestigious National
                            university
                            of Vietnam and Universite La Rochelle in France. I should hope my work reflects that.
                        </p>
                    </div><!-- End: post-content -->
                </div>
            </div>
        </div>
    </section>
</div>