<footer>
    <div class="container">
        <div class="row">
            <div
                class="offset-lg-3 col-12 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-left text-sm-left text-md-left text-lg-left text-xl-left">
                <h5>Navigation</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <!-- <li><a href="{{url('/blog')}}">Blog</a></li>
            <li><a href="{{url('tag-list')}}">Tags</a></li> -->
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div
                class="col-12 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-left text-sm-left text-md-left text-lg-left text-xl-left">
                <h5>Social Media</h5><!-- Start: list social -->
                <ul class="list-unstyled">
                    <li><a target="_blank" href="https://www.linkedin.com/in/hollyn-derisse-28398097/">LinkedIn</a></li>
                    <li><a target="_blank" href="https://www.github.com/Hollyn/">GitHub</a></li>
                    <li><a target="_blank" href="https://twitter.com/hollyn_derisse">Twitter</a></li>
                    <li><a target="_blank" href="https://www.facebook.com/hollyn.derisse">Facebook</a></li>
                    <li><a target="_blank" href="https://www.instagram.com/hollynderisse/">Instagram</a></li>
                </ul><!-- End: list social -->
            </div>
            <div
                class="col-12 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-left text-sm-left text-md-left text-lg-left text-xl-left">
                <h5>Legals</h5><!-- Start: list of tags -->
                <ul class="list-unstyled">
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="@">Terms and conditions</a></li>
                </ul>
                <!-- End: list of tags -->
            </div>

        </div>
    </div>
    <div>
        <p class="text-center">© 2022 - All Right Reserved</p>
    </div>
</footer>