<!-- Start: Navigation Clean -->
<nav class="navbar navbar-light navbar-expand-md navigation-clean" id="navbar">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Hollyn Derisse</a>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active"
                        style="border-right-color: #6fb5bf;">Home</a>
                </li>
                <!-- <li class="nav-item"><a class="nav-link" href="#" style="border-right-color: #18a2b8;">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Tags</a></li> -->
                <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active">About</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
                </li>
            </ul>
        </div>
        <!-- Start: Float right -->
        <div class="d-flex justify-content-center align-items-center">
            <div class="theme-switcher-container">
                <input type="checkbox" (change)="checkCheckThemeValue($event)" class='checkbox' name="checkbox"
                    id="checkbox-theme" [checked]="darkTheme" />
                <label for="checkbox-theme" class="label">

                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <div class="ball"></div>
                </label>
            </div><button data-target="#navcol-1" data-toggle="collapse" class="navbar-toggler"><span
                    class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        </div>
        <!-- End: Float right -->
    </div>
</nav><!-- End: Navigation Clean -->