.hero-box-hire-me-button {
  margin-bottom: 15px;
  font-weight: bold;
}
.btn {
  background: rgba(255, 255, 255, 0);
  color: #f7f7f7;
  border-style: solid;
  border-color: var(--light);
  padding: 15px;
  min-width: 160px;
  box-shadow: 2px 2px 7px 0px var(--dark-color);
}

@media (min-width: 768px) {
  .hero-box-hire-me-button {
    margin-top: 15px;
  }
}
