<section>
    <div class="container">
        <div class="row"
            style="background: rgba(24,162,184,0.8);text-align: center;margin-top: 74px;padding: 30px 0px 30px 0;">
            <div class="col d-flex flex-column justify-content-between contact-me"
                style="min-height: 250px;color: #f7f8fb;text-align: center;">
                <h1>Contact me</h1>
                <p>
                    You can reach out to me on either of the of these method.<br>I will answer you within 24 hours
                </p>
                <div
                    class="d-flex flex-column flex-sm-column flex-md-row justify-content-md-between contact-me-contacts-container">

                    <span>
                        <i class="fas fa-phone fa-flip-horizontal"></i>&nbsp;<strong>+84 588393356</strong>
                    </span>

                    <a href="mailto:contact.hollynderisse@gmail.com"><span>
                            <strong>
                                <i class="fas fa-envelope fa-flip-horizontal"></i>&nbsp;contact.hollynderisse
                            </strong>
                        </span>
                    </a>

                    <a href="/contact">
                        <span>
                            <strong>
                                <i class="fas fa-link fa-flip-horizontal"></i>&nbsp;hollynderisse.com
                            </strong>
                        </span>
                    </a>
                </div>
                <div class="contact-me-button-container">
                    <hd-resume-button></hd-resume-button>
                </div>
            </div>
        </div>
    </div>
</section>