<section style="margin-top: 74px;">
    <div class="container about-myself">
        <div class="row">
            <div class="col-md-6 col-lg-5 d-md-flex align-items-md-center image-about-myself"><img
                    class="img-fluid about-myself-image" src="assets/img/Untitled%202.png" width="100%" loading="lazy">
            </div>
            <div class="col offset-lg-1 d-md-flex align-items-md-center">
                <div class="d-lg-flex flex-lg-column justify-content-lg-between" style="height: 100%;">
                    <div>
                        <h1 class="d-lg-flex align-items-lg-center about-me-heading">About myself</h1>
                    </div>
                    <p class="d-lg-flex align-items-lg-center">I am a very simple person. He likes to ride bicycle when
                        free. Prefers tea over coffee. He is currently writing code at bogo.vn&nbsp;I am a very simple
                        person. He likes to ride bicycle when free. Prefers tea over coffee. He is currently writing
                        code at bogo.vn&nbsp;I am a very simple person. He likes to ride bicycle when free. Prefers tea
                        over coffee. He is currently writing code at bogo.vn&nbsp;I am a very simple person. He likes to
                        ride bicycle when free. Prefers tea over coffee. He is currently writing code at bogo.vn&nbsp;I
                        am a very simple person. He likes to ride bicycle when free. Prefers tea over coffee. He is
                        currently writing code at bogo.vn&nbsp;I am a very simple person. He likes to ride bicycle when
                        free. Prefers tea over coffee. He is currently writing code at bogo.vn</p>
                    <div class="d-flex justify-content-center button-contatiner-about-myself"><button
                            class="btn btn-primary btn-left" type="button"
                            style="background: rgba(0,123,255,0);color: #18a2b8;border-style: none;border-color: #18a2b8;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;padding: 15px;">More
                            info</button><button class="btn btn-primary btn-right" type="button"
                            style="background: #18a2b8;border-color: #18a2b8;border-bottom-style: none;">Resume</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>