<section class="header-hero-box" style="margin-top: 74px;padding: 3rem 0 6rem;">
    <div class="container hero" style="margin-top: 0;background: rgba(255,255,255,0);">
        <div class="row">
            <div
                class="col-md-7 d-md-flex align-items-md-center justify-content-lg-end justify-content-xl-end align-items-xl-center">
                <div class="hero-box-text" style="color: var(--light);">
                    <h1 class="d-lg-flex align-items-lg-center"
                        style="margin-bottom: 1rem;font-family: 'PT serif', serif;font-size: 2.5rem;text-shadow: 2px 2px 7px var(--gray);">
                        Hello, I'm Hollyn</h1>
                    <h3 style="text-shadow: 2px 2px 7px var(--gray);">Software engineer based in Vietnam</h3>
                    <div class="hero-box-hire-me-button">
                        <hd-resume-button></hd-resume-button>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 offset-lg-1 d-md-flex align-items-md-center"><img class="img-fluid"
                    src="assets/img/Hollyn.jpg" width="100%" loading="lazy" style="width: 100%;"></div>
        </div>
    </div>
</section>